/* seccion de inicio */
.section__inicio {
  padding: 100px var(--site-max-width);
  min-height: 100dvh;
  display: flex;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
}

.section__inicio--perfil {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  order: 2;
}

.inicio-saludo,
.inicio-soy {
  font-size: var(--fs-m);
}

#miNombre {
  font-size: clamp(2.8rem, 5vw, 4.2rem);
  font-family: "principal";
}

#miEspecialidad,
#miNombre {
  color: var(--primary-color-dark);
}

.inicio__especialidad {
  display: flex;
  gap: 1rem;
  align-items: end;
  flex-wrap: wrap;
}

.inicio__description {
  font-size: var(--fs-m);
  width: 100%;
  max-width: 700px;
}

.inicio__btn {
  margin-top: 20px;
  background-color: var(--primary-color-dark);
  border-radius: var(--border-radius-s);
  font-size: var(--fs-l);
  color: var(--primary-color);
  font-family: "principal";
  transition: .3s linear;
  padding: 1.1rem clamp(2rem, 6vw, 3.5rem);
}

.inicio__btn:hover,
.inicio__btn:active {
  background-color: var(--secondary-color-dark);
  scale: 1.1;
}

.section__inicio--imagen {
  max-width: 500px;
  aspect-ratio: 1;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%);
  order: 1;
  z-index: 2;
  transition: .5s linear;
}

.section__inicio--imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 950px) {
  .section__inicio {
    flex-direction: row-reverse;
  }

  .section__inicio--imagen {
    transform: rotate(90deg);
    width: 100%;
  }

  .section__inicio--imagen img {
    transform: rotate(-90deg);
  }
}